name: Run Docker image

on: workflow_dispatch

jobs:
  push_to_registry:
    name: Execute MyCLI Docker image from Docker Hub
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: pwsh
    container:
      image: dneelyep/my-cli:latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      
      #- name: Log in to Docker Hub
      #  uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
      #  with:
      #    username: ${{ secrets.DOCKERHUB_USERNAME }}
      #    password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      #- name: Download Docker image
      #  run: "docker pull dneelyep/my-cli:latest"
      - name: Run test command
        run: Write-Output "Hello, world!"
